{% extends "default.html" %}

{% block header %}
<h1><a href="{{ site.root }}">{{ site.title }}</a></h1>
{% endblock %}

{% block main %}
{{ content|raw }}
<section class="posts">
    {% for post in pagination.posts %}
    <article class="post">
        <header>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="date"><time>{{ post.date }}</time></p>
        </header>
        <section class="content">
            {{ post.content|raw }}
        </section>
    </article>
    {% endfor %}
</section>

<section class="navigation">
{% if pagination.prev_page %}<div class="prev"><a href="{{ pagination.prev_page }}">Next Posts</a></div>{% endif %}
{% if pagination.next_page %}<div class="next"><a href="{{ pagination.next_page }}">Previous Posts</a></div>{% endif %}
</section>
{% endblock %}

