<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
        <!-- 
             Uncommment the following section if you want to set 'pretty_urls' to 'true'.
             You'll need IIS' URLRewrite module installed for this to work.
             Get it here: http://www.iis.net/download/urlrewrite
        -->
        <!--
        <rewrite>
            <rules>
                <rule name="Don't rewrite existing resources" stopProcessing="true">
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Rewrite to index.php" stopProcessing="true">
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        -->
    </system.webServer>
</configuration>
