---
title:
format: none
---
<h2>Posts in {{ category }}</h2>

<section>
    {% for post in pagination.posts %}
    <article>
        <header>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <small>{{ post.date }}
                {% if post.tags %}
                in 
                {% for t in post.tags %}
                <a href="{{ pctagurl(t) }}">{{ t }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                {% if post.category %}
                | <a href="{{ pccaturl(post.category) }}">{{ post.category }}</a>
                {% endif %}
            </small>
        </header>
        <section>
            {{ post.content|raw }}
        </section>
    </article>
    {% endfor %}
</section>
<section>
    {% if pagination.prev_page %}<div class="prev"><a href="{{ pagination.prev_page }}">Next Posts</a></div>{% endif %}
    {% if pagination.next_page %}<div class="next"><a href="{{ pagination.next_page }}">Previous Posts</a></div>{% endif %}
</section>

