{% macro stylesheet(baker, server, path, media) %}
{% if baker.is_baking or server.is_hosting %}
<link rel="stylesheet" href="{{ path }}.css" type="text/css" media="{{ media|default('all') }}" />
{% else %}
<link rel="stylesheet/less" href="{{ path }}.less" type="text/css" media="{{ media|default('all') }}" />
{% endif %}
{% endmacro %}

{% macro less_js(baker, server, site_root) %}
{% if not baker.is_baking and not server.is_hosting %}
<script src="{{ site_root }}js/less-1.0.41.min.js" type="text/javascript"></script>
{% endif %}
{% endmacro %}
