<div class="post">
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<div class="post-meta">
		<span class="post-date">{{ post.date }}&nbsp;{{ post.time }}</span>
		{% if post.category %}
			in <span class="post-cat"><a href="{{ pccaturl(post.category) }}">{{ post.category }}</a></span>
		{% endif %}
		{% if post.tags %}
			&mdash;
			<span class="post-tags">
				{% for tag in post.tags %}
				<a href="{{ pctagurl(tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</span>
		{% endif %}
	</div>

	{{ post.content|raw }}

	{% if post.has_more %}
		<div class="post-more">
			<a href="{{ post.url }}">Read more...</a>
		</div>
	{% endif %}
	<hr />
</div>