@background: #FFF;
@highlight: #FAFFD9;
@crust: #CF931B;
@light_crust: #E5CF4E;
@dark_crust: #D65F04;
@cherry: #D42708;


body {
	font-family: Georgia, serif;
	font-size: 110%;
}

h1 {
	text-align: center;
	font-weight: bold;
	color: @cherry;
}

#container {
}

#header {
    padding: 2em;
	background: @light_crust;
}

#menu ul li {
    display: block;
	float: left;
	margin: 1em 2em;
}
#menu ul:after {
    clear: both;
}

#content {
    margin: 1em 2em;
}